* {
    outline: 1px dotted red;
}

/* Google Fonts */
/* --------------------------------------------------------- */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}


/* Top Navigation */
/* --------------------------------------------------------- */
.top-nav {
    display: flex;
    padding: 60px 0px 60px 0px;
    margin: 0px 300px 0px 300px;
    list-style: none;
    justify-content: space-between;
}

.top-nav li a {
    color: whitesmoke;
}

#navbar {
    background-color: black;
}

/* Main Page */
/* --------------------------------------------------------- */
.main-img {
    background-color: black;
    position: relative;
    padding-top: 29%;
}

.responsive {
    max-width: 100%;
    max-height: auto;
}

.center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}


/* Mobile Media Querys */
/* --------------------------------------------------------- */